mixin headerList(headerItem)
  each item in headerItem
    - const { href, title }= item
    li.header__list-item 
        a.header__list-link(href=href)= title

mixin footerList(list)
  each item in list
    - const {icon, href}= item 
    li
      a.footer__list-link(href=href)
        i.footer__list-icon(class=icon)

mixin navigation({list, dropdowns})
  .nav__image
    a(href="#").nav__image-link
      img(src="../../images/logo2.png", alt="Logo", class='nav__image-logo')
      .nav__image-content
        p Wine hourse
          span Sine 1980
        img(src="../../images/logo3.png", alt="Logo")
  ul.nav__list
    each item in list
      - const {class1, title, href}= item
      each dropdown in dropdowns
        - const {wine1, wine2}= dropdown
        case class1
          when 'wine--red'
            li(class=`nav__list-item wine ${class1}`)
              a.nav__list-link(href=href)=title
              +dropDownList(wine1)
          when 'wine--white'
            li(class=`nav__list-item wine ${class1}`)
              a.nav__list-link(href=href)=title
              +dropDownList(wine2)
          when 'champagne'
            li(class=`nav__list-item wine ${class1}`)
              a.nav__list-link(href=href)=title
              +dropDownList(wine1)
          default
            li(class='nav__list-item')
              a.nav__list-link(href=href)=title
  
mixin dropDownList(list)
  .nav__dropdown-wrap
    each item in list
      ul.nav__dropdown-list
        +dropDownItem(item)

mixin dropDownItem(items)
  each item in items
    - const {title, href, src}= item
    if href
      li.nav__dropdown-item
        a(href=href)= title
    else if src
      li.nav__dropdown-item
        img(src=src, alt="img")
    else
      li.nav__dropdown-item
        h2.nav__dropdown-title= title
    
mixin socialList(list)
  each item in list 
    - const {icon, href}= item
    li.footer__social-item
      a.footer__social-link(href=href)
        i.footer__social-icon(class=icon) 

mixin listItem1({class1, class2, items: [...items]})
  each item in items
    li(class=class1)
      a(href="#" class=class2)= item
        if block1
          block1
      if block
        block

mixin list-product({type, src, title, sale, price})
  li.list-item(class=(type ? `list-item--${type}` : ''))
    img.list-item__image(src=src, alt="Alcohol")
    h2.list-item__title= title
    p.list-item__sale= sale
      span.list-item__sale-price= price
    if block 
      block

mixin blogCard(blog)
  - const {href, src, title, author, desc}= blog
  li(class='blog-card__item')&attributes(attributes)
    a.blog-card__item-link(href=href) 
      img.blog-card__item-img(src=src, alt="#")
    h2.blog-card__item-title= title 
    p.blog-card__item-author= author 
    p.blog-card__item-desc= desc

mixin blogTitle({class1, title, src})
  h2(class= class1)= title
  if src
    img(src=src, alt="#")

mixin formGroup({ type= 'text', label, id})
  if (type =='textarea')
    .form-group.form-group-textarea
      label(for=id)&attributes(attributes)= label
      textarea(name=id, id=id, cols="110", rows="15") 
  else
    .form-group
      label(for=id)&attributes(attributes)= label 
      input(type=type, id=id)
    if block
      block

mixin addressForm({address, isDisabled})
  if isDisabled
    each item in address
      - const {label, id, value}= item
      .form-group
        label(for=id)= label 
        input(type='text', id=id, value=value, disabled)
      if block
        block
  else
    each item in address
      - const {label, id, value}= item
      case id 
        when 'city'
          +selectOption(label, id, value)
            +option(optionCity)
        when 'nationality'
          +selectOption(label, id, value)
            +option(optionNationality)
        default 
          .form-group
            label(for=id)= label 
            input(type='text', id=id, value=value)
          if block
            block

mixin selectOption(label, id, value)
  .form-group
    label(for=id)= label
    select.address-form-option(name=id, id=id, value=value)
      if block 
        block

mixin option(listOption)
  each item in listOption
    option(value=item.value)= item.name 
  

mixin checkBox({id, class1, label})
  .checkbox(class=(class1 ? class1 : ''))
    input(type='checkbox', id = id)
    label(for=id)= label
  if block
    block 

mixin breadcrumb({title, desc: [...desc]})
  a.breadcrumb(href="index.html")= title
  each item in desc
    span.desc= item

mixin formHeading(title)
  p.breadcrumb__heading-title= title
  img(src='../../images/titleleft-dark.png', alt="#")

mixin newsBlogList(newsList)
  ul.blog-news-list
    each item in newsList 
      - const {img, title, date} = item 
      li.blog-news-item
        a.blog-news-link(href="#")
          .blog-news-img
            img(src=img, alt="blogImg")
          .blog-news-inner
            h3.blog-news-title= title
            p.blog-news-date 
              i.bx.bx-calendar-alt
              span= date

mixin nameTags(tagsList)
  ul.blog-tags-list 
    each item in tagsList
      li.blog-tags-item 
        a.blog-tags-link(href="#")= item

mixin blogComments(commentsList)
  .blog-comments
    h2.blog-comments-title= `BÌNH LUẬN (${commentsList.length})`
    each item in commentsList
      -const {userName, time, content}= item
      .comments-item
        .comments-sub-desc
          .sub-desc-left
            span.blog-comments-name= `Bình luận bởi ${userName}`
            span.blog-comments-time= `Cách đây ${time}`
          .sub-desc-right
            a(href="#") 
              u Trả lời
        .comments-desc 
          p= content

mixin pagination
  .pagination
    .pagination-item
      a.pagination-link(href="#") &laquo;
      a.pagination-link.active(href="#") 1 
      a.pagination-link(href="#") 2 
      a.pagination-link(href="#") 3 
      a.pagination-link(href="#") &raquo;

mixin ordersInfo(infoList)
  ul.orders__info-list
    each item in infoList
      - const {href, state, quantity} = item
      li.orders__info-item
        a.orders__info-link(href=href)= item.state + ' (' + item.quantity + ')' 

mixin ordersList(tableList)
  each item in tableList
    - const {id, code, date, store, quantity, total, state, detail}= item
    tr 
      td
        p= id
      td.table-date
        p= code
          span= date
      td
        p= store
      td
        p= quantity
      td
        p= total
      td
        p= state
      if detail
        td
          a.table-detail(href="#")= detail

mixin userList(userItem)
  each item in userItem
    - const {icon, title, desc}= item
    .orders__user-item
      i(class=icon)
      p= title
        if desc
          span= desc

mixin cartList(carts)
  each item in carts
    - const {img, name, price, quantity, total} = item
    tr
      td.cart__table-img
        img(src=img, alt=name) 
      td.cart__table-name= name
      td.cart__table-price= price 
      td.cart__table-quantity= quantity 
      td.cart__table-total= total
      td.cart__table-delete
        a.cart__table-link(href="") 
          i.bx.bx-trash

mixin tabsList(tabList)
  ul.detail__content-list
    each item in tabList
      - const {src, alt, href, class1, active} = item
      if(active)
        li.detail__content-item.detail__content-item--active
          a(href=href, class=`tabs-link ${class1}`)
            img(src=src, alt=alt)
      else
        li.detail__content-item
          a(href=href, class=`tabs-link ${class1}`)
            img(src=src, alt=alt)

mixin imageTabList(imageList)
  each item in imageList
    - const {src, alt, active} = item
    if(active)
      img(src=src, alt=alt)

mixin stars(num)
  span.star
    each item in [1, 2, 3, 4, 5]
        if(item <= num)
          i.bx.bxs-star.checked(class=`star-${star}`)
        else if(item > num)
          i.bx.bx-star(class=`star-${star}`)

mixin optionColor(colorList)
  .color-list
    each item in colorList
      if(item.active)
        .color-item.color-item--active
          a(href=item.href, class=`color-bg color-bg--${item.color}`)
      else
        .color-item
          a(href=item.href, class=`color-bg color-bg--${item.color}`)

mixin socialDetail(list)
  each item in list
    - const {name, icon, label, popover}= item
    .social-item
      a(href="javascript:void(0)" class=`social-logo ${name}`)
        i(class=icon)
        if label
          span= label
      if popover
        .social-popover= popover

mixin descTabs(list)
  ul.desc-tabs-list
    each item in list 
      - const {id, content, name, active}= item
      if(active)
        li.desc-tabs-item.desc-tabs-item--active
          a(href="javascript:void(0)", class='btn btn-active tabs-list-btn', id =id)= name
      else
        li.desc-tabs-item
          a(href="javascript:void(0)", class='btn btn-active tabs-list-btn', id =id)= name

mixin listProduct({list, introTitle})
  .list-product__intro
    if introTitle
      h2.intro-title= introTitle
      img(src="../../images/title-dark.png", alt="logo")
    ul(class='list-product__list')&attributes(attributes)
      each item in list
        - const {type, src, title, sale, price}= item
        +list-product({type, src, title, sale, price})
          a.btn.btn-active.btn-list-product(href="#") Add to cart
          .whishlist
            .whishlist-item
              i.bx.bxs-heart
              p.whishlist-border Yêu thích
            .whishlist-item
              i.bx.bx-bar-chart-alt
              p.whishlist-border So sánh
            .whishlist-item
              i.bx.bx-expand
      .list-product__arrow
        i.bx.bx-left-arrow-alt.arrow.arrow--left
        i.bx.bx-right-arrow-alt.arrow.arrow--right

mixin categoryList(list)
  ul.collection__list
    each item in list
      - const {name, quatity}= item
      li.collection__list-item
        a.collection__list-link(href="#")= `${name} (${quatity})` 

mixin columnList({list})
  ul.column-list
    each item in list
      - const {src, title, price, desc}= item
      li.column-item
        .column-item__image
          img(src=src, alt="Wine")
        .column-item__content
          h2.column-item__title= title
          p.column-item__price= price
          p.column-item__desc= desc
          .whishlist
            a.btn.btn-active(href="#") Add to cart
            .whishlist-item
              i.bx.bxs-heart
              p.whishlist-border Yêu thích
            .whishlist-item
              i.bx.bx-bar-chart-alt
              p.whishlist-border So sánh

mixin wineList({list, active})
  if (active == 'grid')
    +listProduct({list})
  if (active == 'column')
    +columnList({list})
