mixin listItem(class1, class2, ...items)
  each item in items
    li(class=class1)
          a(href="#")(class= class2)= item
            if block 
              block

mixin listItem1({class1, class2, items: [...items]})
  each item in items
    li(class=class1)
          a(href="#")(class=class2)= item
            if block 
              block

mixin list-product({type, src, title, sale, price})
  li.list-item(class=(type ? `list-item--${type}` : ''))
    img.list-item__image(src=src, alt="Alcohol")
    h2.list-item__title= title
    p.list-item__sale= sale
      span.list-item__sale-price= price
    if block 
      block

mixin blogCard({src, title, author, desc})
  li(class='blog-card__item')&attributes(attributes)
    img.blog-card__item-img(src=src, alt="#")
    h2.blog-card__item-title= title 
    p.blog-card__item-author= author 
    p.blog-card__item-desc= desc

mixin blogTitle({class1, title, src})
  h2(class= class1)= title
  if src
    img(src=src, alt="#")

mixin formGroup({ type= 'text',class1 = 'form-group__title', label, id})
  .form-group
    label(for=id, class= class1)&attributes(attributes)= label 
    input(type=type, id=id)
  if block
    block

mixin checkBox({id, label})
  .checkbox
    input(type='checkbox', id = id)
    label(for=id)= label
  if block
    block 

mixin formHeading({class1, title, desc, src, class2 })
  p(class= class1)= title
    if desc
      span= desc
  if src 
    img(src=src, alt="#" class= class2)
